name: Build and Test

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  workflow_dispatch:


jobs:
  macosclient:
    name: macOS Client
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1.1
      with:
        xcode-version: latest
    - name: Check Xcode version
      run: xcodebuild -version
    - name: Check Swift version
      run: swift --version
    - name: Build and test
      run: xcodebuild test -scheme Xpense -destination 'platform=iOS Simulator,OS=15.0,name=iPhone 12'
  linuxarmwebservices:
    name: Linux ARM WebService
    runs-on: ARM64
    container:
      image: ghcr.io/apodini/swift@sha256:53b4295f95dc1eafcbc2e03c5dee41839e9652ca31397b9feb4d8903fe1b54ea
    defaults:
      run:
        working-directory: ./WebService
    steps:
      - name: Cleanup Self Hosted Runner
        if: always()
        run: rm -rf "${{ github.workspace }}"
      - uses: actions/checkout@v2
      - name: Cache .build
        uses: actions/cache@v2
        env:
          cache-name: cache-swift-build
        with:
          path: ./.build
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install libsqlite3
        run: apt-get update && apt-get install -y --no-install-recommends libsqlite3-dev
      - name: Check Swift version
        run: swift --version
      - name: Build and test
        run: swift build -Xswiftc -Xfrontend -Xswiftc -sil-verify-none
  linuxwebservices:
    name: Linux WebService ${{ matrix.linux }}
    runs-on: ubuntu-latest
    container:
      image: swiftlang/swift:nightly-5.5-${{ matrix.linux }}
    strategy:
      matrix:
        linux: [bionic, focal, amazonlinux2, centos8]
    defaults:
      run:
        working-directory: ./WebService
    steps:
    - uses: actions/checkout@v2
    - name: Install libsqlite3
      if: ${{ !(startsWith( matrix.linux, 'centos' ) || startsWith( matrix.linux, 'amazonlinux' )) }}
      run: apt-get update && apt-get install -y --no-install-recommends libsqlite3-dev
    - name: Install libsqlite3
      if: startsWith( matrix.linux, 'amazonlinux' )
      run: yum update -y && yum install -y sqlite-devel
    - name: Install libsqlite3
      if: startsWith( matrix.linux, 'centos' )
      run: yum update -y --nobest && yum install -y sqlite-devel
    - name: Check Swift version
      run: swift --version
    - name: Build and test
      run: swift build -Xswiftc -Xfrontend -Xswiftc -sil-verify-none
